<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/admin-report.css">
    <link rel="stylesheet" href="../assets/css/sidebar.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/photos/brand/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../assets/photos/brand/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../assets/photos/brand/favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>
    <title>Admin</title>
</head>
<body>
  <header>
    <div class="toggle">
        <i class="fas fa-bars"></i>
    </div>
    <h3>
        Admin
    </h3>
    <a href="/logout">
        <i class="fas fa-sign-out-alt"></i>
    </a>
</header>
<nav>
    <ul class="sidebar-menu-links">
        <li class="d-logo">
            <img src="../assets/photos/brand/favicon-32x32.png" alt="our logo">
        </li>
        <li>
            <a class="toggle">
                <span class="icon"><i class="fas fa-bars"></i></span>
                <span class="title">Menu</span>
            </a>
        </li>
        <li>
            <a href="/admin">
                <span class="icon"><i class="fa fa-address-card" aria-hidden="true"></i></span>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/admin/messages">
                <span class="icon"><i class="fa fa-comment" aria-hidden="true"></i>
                </span>
                <span class="title">Messages</span>
            </a>
        </li>
        <li>
            <a href="/logout">
                <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                <span class="title">Sign Out</span>
            </a>
        </li>
    </ul>
</nav>
  <div class="points-for-admin">
    <h2>Remember</h2>
    <li>Only approve content that follows the rules.</li>
<li>Check users to prevent spam.</li>
<li>Keep discussions on-topic.</li>
<li>Encourage positive contributions.</li>
<li>Respect free speech with boundaries.</li>
<li>Explain why content is approved.</li>
  </div>
    <div class="home-container">
        <h1 class="admin-report-page-title">Admin Reports</h1>

  <!-- Display reported discussions -->
  <h2 class="admin-report-section-title">Reported Discussions</h2>
  <div style="overflow-x:auto;">
  <table id="myTable">
    <tr class="header">
      <th style="width:20%;">User</th>
      <th style="width:40%;">Content</th>
      <th style="width: 30%;">Reason</th>
      <th style="width: 10%;">Options</th>
    </tr>
    <% reportedDiscussions.forEach(discussion => { %>
      <tr>
        <td><a href="/member/<%= discussion.user.username %>" target="_blank"><%= discussion.user.username %></a></td>
        <td><a href="/discussion/<%= discussion._id %>" target="_blank"><%= discussion.content %></a></td>
        <td><%= discussion.reportReason %></td>
        <td><a class="admin-buttons" href="/admin/approve-report/discussion/<%= discussion._id %>">Approve</a>
          <a class="admin-buttons" href="/admin/delete-report/discussion/<%= discussion._id %>">Delete</a></td>
      </tr>
    <% }) %>
  </table>
</div>
  <h2 class="admin-report-section-title">Reported Replies</h2>
  <!-- Display reported replies -->
  <div style="overflow-x:auto;">
  <table id="myTable">
    <tr class="header">
      <th style="width:20%;">User</th>
      <th style="width:40%;">Content</th>
      <th style="width: 30%;">Reason</th>
      <th style="width: 10%;">Options</th>
    </tr>
    <% reportedReplies.forEach(reply => { %>
      <tr>
        <td><a href="/member/<%= reply.user.username %>" target="_blank"><%= reply.user.username %></a></td>
        <td><%= reply.content %></td>
        <td><%= reply.reportReason %></td>
        <td><a class="admin-buttons" href="/admin/approve-report/reply/<%= reply._id %>">Approve</a>
          <a class="admin-buttons" href="/admin/delete-report/reply/<%= reply._id %>">Delete</a></td>
      </tr>
    <% }) %>
  </table>
  </div>
    </div>
    <script src="../assets/js/script.js"></script>
</body>
</html>