<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Dizcuss</title>
</head>

<body>
    <%- include('sidebar', { currentPage: 'Home' }) %>
        <div class="home-container">
            <section id="create-discussion">
                <form id="discussion-form">

                    <label for="content">What's happening?</label>
                    <textarea id="content" class="content-input" name="content" rows="4" cols="50"
                        placeholder="Ask a question?" required></textarea><br>

                    <button type="submit" class="submit-button">Create Discussion</button>
                </form>
            </section>

            <div id="discussions">
                <% discussions.forEach(discussion=> { %>
                    <div>
                        <p><img src="/uploads/${discussion.profileImage}" alt="Profile Image">
                            <%= discussion.user.username %>
                        </p>
                        <p>
                            <%= discussion.content %>
                        </p>
                        <button class="reply-button" data-id="<%= discussion._id %>">Reply</button>
                        <button class="like-discussion-button" data-id="<%= discussion._id %>">
                            Like (<span class="count">
                                <%= discussion.likes %>
                            </span>)
                        </button>
                        <button class="dislike-discussion-button" data-id="<%= discussion._id %>">Dislike (<%=
                                discussion.dislikes %>)</button>
                        <button class="delete-discussion-button" data-id="<%= discussion._id %>">Delete</button>
                    </div>
                    <div>
                        <% discussion.replies.forEach(reply=> { %>
                            <div>
                                <p><img src="/uploads/${reply.profileImage}" alt="Profile Image"><%= reply.user.username %>
                                </p>
                                <p>
                                    <%= reply.content %>
                                </p>
                                <button class="like-button" data-id="<%= reply._id %>">Like (<%= reply.likes %>
                                        )</button>
                                <button class="dislike-button" data-id="<%= reply._id %>">Dislike (<%= reply.dislikes %>
                                        )</button>
                            </div>
                            <% }); %>
                    </div>
                    <% }); %>
            </div>

            <!-- <div id="popup" class="popup">
            <div class="popup-content">
              <span class="close-popup">&times;</span>
            </div>
        </div> -->

            <div id="myModal" class="modal" style="display: none;">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Add Reply</h2>
                    <textarea id="replyContent" rows="4" cols="50"></textarea>
                    <button id="submitReply">Submit</button>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../assets/js/app.js"></script>
</body>

</html>